<div class="form-inline"
>
  <div class="form-group mb-2">
    <input
    type="text"
    class="form-control mr-2"
    placeholder="type your search"
    [(ngModel)]="searchString">    
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
        class="btn btn-outline-primary"
        (click)="toggleImg()">
          <i class="{{!showImages ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>Subject</th>
      <th>Place</th>
      <th>Date</th>
      <th>Audience</th>
      <th>Batch</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="meetings.length">
    <tr *ngFor="let meeting of filteredMeetings">
      <td>
        <img *ngIf="showImages" src="http://localhost:5000/img/{{meeting.imgUrl}}" alt="meeting image"
        [style.width.px] = "imgWidth"
        [style.margin.px] = "imgMargin">
      </td>
      <td>{{ meeting.theme }}</td>
      <td>{{ meeting.place }}</td>
      <td>{{ meeting.meetingDate }}</td>
      <td>{{ meeting.invited }}</td>
      <td>
        <div *ngIf="!meeting.batches.length">
          NONE.
        </div>
        <div *ngIf="meeting.batches.length">
          {{ meeting.batches[0].name | uppercase }}.
        </div>
      </td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!meetings.length">
    <tr>
      <td colspan="7" class="text-center">
        No meetings found.
      </td>
    </tr>
  </tfoot>
</table>